<div class="container">
    <div class="row">
        <div class="col-md-12 bg-theme-secondary p-5 shadow-effect">
            <h3 class="text-center text-theme-primary">New Categories</h3>
            <p class="text-center mb-5">you can add new category from here...!</p>
            <form  class="form-inline text-center" #categoryForm="ngForm" (ngSubmit)="onSubmit(categoryForm)">
            <div class="row">
                <div class="col-md-10">
                    <input type="text" ngModel name="category" class="form-control shadow-effect" placeholder="Enter a new Category" id="">
                </div>
                <div class="col-md-2">
                    <button class="btn btn-info btn-block mb-2">Add Category</button>
                </div>
            </div>
            </form>
        </div>
    </div>
</div>